doctype html
html(lang="en" dir="ltr")
  head
    meta(charset="utf-8")
    title Node Phaser
    link(href="css/reset.css" rel="stylesheet")
  body
    #game
    span hello worldd
    script(src="/socket.io/socket.io.js")
    script(src="js/phaser.js")
    script(src="js/game.js")
